.is-row
  .is-one
    .is-row
      .is-one
        .is-field
          label Entidad federativa
          .is-select
            select(
              ng-model="ngModel.entidad"
              ng-change="loadMunicipios()"
              required
            )
              option( selected disabled value="" ) Selecciona entidad
              option( ng-repeat="entidad in entidades" ) {{ entidad.nombre }}
    
      .is-one
        .is-field
          label Municipio
          .is-select
            select(
              ng-model="ngModel.municipio"
              ng-change="loadLocalidades()"
              required
            )
              option( selected disabled value="" ) Selecciona municipio
              option( ng-repeat="municipio in municipios" ) {{ municipio.nombre }}
    
    .is-row
      .is-one
        .is-field
          label Localidad / Colonia
          .is-select
            select(
              ng-model="ngModel.localidad"
              ng-change="setCodigo()"
              required
            )
              option( selected disabled value="" ) Selecciona colonia
              option( ng-repeat="localidad in localidades" ) {{ localidad.nombre }}
    
      .is-one
        .is-field
          label C.P.
          .is-control
            input(
              type="text"
              ng-model="ngModel.codigoPostal"
              required
            )

